<h1>Hai, world!</h1>

<p>
This is the home page for baby's first Rails application.
</p>

<div class="footer">
	<small>
		<%= link_to "Home", "./" %> | 
		<%= link_to "About", "/about" %>
	</small>
</div>
